body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.landingdiv{
    width: 100%;
    height: 1080px;
    font-size: 25px;
}
.landingtext{
    margin: 0 auto;
    padding-top: 500px;
    text-align: center;
    color: #474747;
    padding-right: 5%

        
}
nav{
    width: 100%;
    height: 70px;
    background-color: #474747;
    position: fixed;
}
.about-sec{
    width: 100%;
    background-color: #606060;
    height: 900px;
    text-align: center;
    display:inline-block;    
    color: #FAFAFA;
}
.skills-sec{
    width: 100%;
    background-color: #052A35;
    height: 900px;
    text-align: center;
    display: inline-block;
    color: #FAFAFA;
}
.projects-sec{    
    width: 100%;
    background-color: #606060;
    height: 1400px;
    text-align: center;
    display:inline-block;
    color: #FAFAFA;
}
.experience-sec{
    width: 100%;
    background-color: #052A35;
    height: 900px;
    text-align: center;
    display:inline-block;
    color: #FAFAFA;
}
footer{
    width: 100%;
    background-color: #1A1A1A;
    height: 500px;
    display:inline-block;
    text-align: center;
    color: #FAFAFA;
}
ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}
li{
    float: left;
}
li a{
    display: block;
    color: #FAFAFA;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
    font-size: 20px;
    outline: none;
}
a:hover{
    color: #ABB6B2;
}
.right{
    float: right;
}
.row {
  display: flex;
}

.column {
  float: left;
    text-align: center;
}

.leftc {
  width: 25%;
}

.rightc {
  width: 75%;
}
.leftca {
  width: 75%;
}

.rightca {
  width: 25%;
}
.section-heading{
    margin: 0 auto;
    color: #FAFAFA;
    font-size: 50px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section-info{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 85%;
}
.section-table{
    width: 100%;
    height: 100%;
}
td{
    text-align: center;
}
.projects{
    text-align: left;
}
.projects > a{
    display: block;
    color: #ABB6B2;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    outline: none;
}
.projects > a:hover{
   color: #FAFAFA; 
}
.center{
    text-align: center;
}
.experiences{
    color: #FAFAFA;
    text-align: left;
    padding: 0px;
    float: none;
    font-size: 20px;
}
.experiences > a{
    display: block;
    color: #ABB6B2;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    outline: none;
}
.experiences > a:hover{
   color: #FAFAFA; 
}
.experience-table{
    width: 80%;
    height: 100%;
}
.foot-row {
  display: flex;
}

.foot-col {
  float: left;
}
.footleft{
    width: 60%;
    text-align: left;
    height: 100%;
}
.footright{
    width: 40%;
    text-align: left;
    height: 100%;
}
.pers-details{
    margin: 0 auto;
    width: 100%;
    color: #FAFAFA;
    padding-left: 35%;
}
.links{
    margin: 0 auto;
    width: 100%;
    color: #FAFAFA;
}
.link > a:link,a:visited,a:active{
    color: #FAFAFA;
    text-align: center;
    text-decoration: none;
    outline: none; 
}
.link > a:hover{
    color: #ABB6B2;
}
.mail > a:link,a:visited,a:active{
    color: #FAFAFA;
    text-align: left;
    text-decoration: none;
    outline: none; 
}
.mail > a:hover{
    color: #ABB6B2;
}
.namephoto{
    height: 35%;
}
.desc{
    height: 35%;
}
.study{
    height: 30%;
}
.col{
    width: 50%;
    margin: 0 auto;
    color: #FAFAFA;
}
.desc{
    margin: 0 auto;
    color: #FAFAFA;
    font-size: 20px;
    text-align: justify;
}
.name{
    font-size: 35px;
}
.edu{
    text-align: center;
    width: 100%;
    
}












